<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pedroaguilar.andarivel">

    <!--- android:screenOrientation -> portrait (en todas las activities); para forzar modo vertical siempre -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Andarivel">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!---launchMode -> SingleTask: indica que la activity va a tener una unica instancia -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:exported="true">
        </activity>
        <activity
            android:name=".PanelAdministradorActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:exported="true"
            android:theme="@style/Theme.MenuLateral.NoActionBar">
        </activity>
    </application>

</manifest>